.headers {
    background-color: #34d399;
    color: white;
    height: 100px;
}

.header1-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    margin: 10px;
    margin-top: -10px;
}

.header1-nav {
    /* display: none; */
    display: flex;
    /* align-items: center; */
    gap: 20px;
    text-decoration: none;
    color: white;
}

.mobile-menu-button {
    display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {

    /* Hide the main navigation by default */
    .header1-nav {
        display: none;
    }

    /* Add a button for mobile navigation */
    .header1-container {
        justify-content: space-between;
    }

    .mobile-menu-button {
        display: block;
        background-color: #fff;
        color: #34d399;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    /* Show the mobile navigation when the button is clicked */
    .show-menu .header1-nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        /* Adjust top position as needed */
        left: 0;
        background-color: #34d399;
        width: 100%;
        padding: 20px;
        z-index: 999;
    }

    .show-menu .header1-nav a {
        margin-bottom: 15px;
    }
}